@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  color: #2D3440;
  background-color: #FCFCFC;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.button-pink {
  color: #FCFCFC;
  background-color: #FF2F64;
}


/* HEADER */
.page-header {
  line-height: 20px;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 24px auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 685px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 450px;
  margin-left: auto;
  justify-content: end;
  font-size: 14px;
}

.navigation-logo {
  margin-right: 16px;
  line-height: 0;
}

.navigation-user .navigation-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-user .navigation-link {
  padding: 6px 0;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  color: #2D3440;
  text-align: center;
  text-decoration: none;
}

.navigation-tel {
  font-size: 16px;
  font-weight: 700;
}


/* MAIN */
.main-container {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1170px;
}

/* Slider */
.slider {
  margin-bottom: 80px;
}

.slide {
  display: flex;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 540px;
}

.slider-social-container {
  display: flex;
  justify-content: space-between;
}

.slider-flip-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slide-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 24px;
}

.slide-description {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 48px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 104px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* Gifts */
.gifts {
  margin-bottom: 81px;
}

.gifts-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gifts-item {
  width: 570px;
  background-color: #FF7799;
  padding: 36px;
  box-sizing: border-box;
}

.gifts-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
}

.gifts-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 28px;
}

.gifts-description {
  margin-top: 0;
  margin-bottom: 28px;
}


/* Products */
.popular-products {
  margin-bottom: 80px;
}

.popular-products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popular-products-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
}

/* Advantages */
.advantages {
  background-color: #FCFCFC;
  background-image: url("../images/wafer_background.jpg");
  background-repeat: no-repeat;
  padding: 24px;
  margin-bottom: 80px;
}

.advantages-container {
  background-color: #FCFCFC;
  padding: 56px 40px;
}

.advantages-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
}

.advantages-description {
  color: #565C66;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 505px 505px;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* News from Blog */
.blog-newsletter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog {
  width: 570px;
  background-color: #FCFCFC;
  background-image: url("../images/blog_background.jpg");
  background-repeat: no-repeat;
  padding: 32px;
  box-sizing: border-box;
}

.blog-description {
  color: #565C66;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 12px;
}

.blog-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.blog-title-link {
  color: #2D3440;
  text-decoration: none;
}


/* Newsletter */
.newsletter {
  width: 570px;
  background-color: #FCFCFC;
  background-image: url("../images/newsletter_background.png");
  background-repeat: no-repeat;
  padding: 6px;
  box-sizing: border-box;
}

.newsletter-container {
  background-color: #FCFCFC;
  padding: 26px;
}

.newsletter-description {
  color: #565C66;
  margin-top: 0;
  margin-bottom: 42px;
}

/* Delivery */
.delivery {
  display: flex;
  align-items: center;
  padding: 64px;
  background-color: #FCFCFC;
  background-image: url("../images/delivery_background.jpg");
  background-repeat: no-repeat;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
}

.delivery-container {
  width: 371px;
  margin-right: 135px;
}

.delivery-form {
  width: 500px;
  background-color: #FCFCFC;
  padding: 40px;
  box-sizing: border-box;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivary-form-container {
display: grid;
grid-template-columns: 117px 287px;
gap: 16px 20px;
}

.delivery-form-address {
  grid-column: 1 / -1;
}

.delivery-submit {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 24px;
}

.delivery-description {
  color: #565C66;
  margin: 0;
}

.delivery-form-description {
  margin-top: 0;
  margin-bottom: 32px;
  color: #565C66;
}

.delivery-label {
  line-height: 20px;
  font-weight: 700;
}


/* Contacts */
.contacts {
  background-color: #FCFCFC;
  background-image: url("../images/contacts_background.jpg");
  background-repeat: no-repeat;
  padding: 64px;
}

.contacts-container {
  width: 343px;
  background-color: #FCFCFC;
  padding: 40px;
  box-sizing: border-box;
}

.contacts-legends {
  color: #565C66;
  margin-top: 0;
  margin-bottom: 12px;
}

.address-shop {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 24px;
}

.tel-shop {
  color: #2D3440;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}

.working-hours {
  color: #565C66;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 32px;
}


/* Footer */
.page-footer {
  margin: 48px auto 57px;
  width: 1170px;
}

.page-footer-container {
  display: flex;
}

.footer-social {
  margin-right: 299px;
}

.footer-links {
  width: 356px;
  margin-right: 200px;
}

.footer-copyright {
  width: 193px;
}

.social-item {
  width: 24px;
}

.footer-links-list {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 24px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.footer-link {
  display: block;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.footer-link-bold {
  font-weight: 700;
}

.copyright-description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.htmlacademy-link {
  color: #2D3440;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-logo-link {
  line-height: 0;
  margin-bottom: 14px;
}

/* Catalog */
.breadcrumbs {
  display: flex;
  margin-bottom: 16px;
  margin-top: 32px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-link {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.inner-header-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}

.filter-form {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 44px;
}

.filter-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filter-group-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-container {
  display: flex;
  padding: 41px 0;
  margin-bottom: 40px;
}

.button-pagination {
  margin-left: auto;
}

.pagination {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
}


/* Products */
.products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  padding: 0 40px 24px 40px;
}

.product-card-link {
  color: #2D3440;
  text-decoration: none;
}

.product-card-image {
  display: block;
  margin: 0 auto 16px;
}

.product-card-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.product-card-description {
  color: #565C66;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}