@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* HEADER */
.page-header {
  line-height: 20px;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 24px auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 685px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 450px;
  margin-left: auto;
  justify-content: end;
  font-size: 14px;
}

.navigation-logo {
  margin-right: 16px;
  line-height: 0;
}

.navigation-user .navigation-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  color: #2D3440;
  text-decoration: none;
}

.navigation-link-user {
  position: relative;
  display: block;
  color: #2D3440;
  text-decoration: none;
}

.navigation-tel {
  padding: 6px 0 6px;
  font-size: 16px;
  font-weight: 700;
}

.navigation-search {
  background:rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  padding: 16px;
}

.navigation-card,
.navigation-login {
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.navigation-card .navigation-icon,
.navigation-login .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}


/* MAIN */
.main-container {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1170px;
}


/* Slider */
.slider {
  margin-bottom: 80px;
}

.slide {
  display: flex;
  align-items: center;
}

.slide-content {
  display: flex;
  width: 470px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 70px;
}

.slide-image-container {
  position: relative;
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  border-radius: 50%;
  margin: 121px 21px 95px;
}

.slide-image-small-container {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  border-radius: 50%;
  opacity: 40%;
  margin: 0 0 0 37px;
}

.slide-image {
  display: block;
  position: absolute;
  top: calc(50% - 254px);
}

.slide-image-small {
  transform: scale(0.3);
  left: -103px;
}

.slider-button {
  position: absolute;
  width: 36px;
  height: 36px;
  top: calc(50% - 18px);
  background: no-repeat  rgba(252, 252, 252, 0.3) center;
  border-radius: 50%;
  border:2px solid #FCFCFC;
  color: #FCFCFC;
  cursor: pointer;
}

.slider-button-prev {
  left: -18px;
}

.slider-button-next {
  right: -18px;
}

.slider-button-next-icon,
.slider-button-prev-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.slider-social-container {
  display: flex;
  justify-content: space-between;
}

.slide-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 24px;
}

.slide-description {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 48px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 104px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-button {
  color:#FCFCFC;
}

.social-icon {
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.slider-flip-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-flip-button {
  height: 12px;
  background-color: #ffffff;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 8px;
}


/* Gifts */
.gifts {
  margin-bottom: 81px;
}

.gifts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gifts-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FF7799 no-repeat right bottom;
  padding: 36px;
  box-sizing: border-box;
  border-radius: 16px;
}

.gifts-item:first-child {
  background-image: url('../images/raspberry_gifts.png');
}

.gifts-item:last-child {
  background-image: url('../images/marshmellow_gifts.png');
}

.gifts-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
}

.gifts-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 28px;
}

.gifts-description {
  width: 328px;
  margin-top: 0;
  margin-bottom: 28px;
}


/* Products */
.popular-products {
  margin-bottom: 80px;
}

.popular-products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popular-products-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  margin-bottom: 107px;
}


/* Advantages */
.advantages {
  background-color: #FCFCFC;
  background-image: url("../images/wafer_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80px;
}

.advantages-container {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
}

.advantages-description {
  color: #565C66;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 505px 505px;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  position: relative;
  margin-left: 64px;
}

.advantages-item::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  content: "";
}

.advantages-item:nth-child(1)::before{
  background: no-repeat url("../images/icons/ice-cream.svg");
}

.advantages-item:nth-child(2)::before{
  background: no-repeat url("../images/icons/cow.svg");
}

.advantages-item:nth-child(3)::before{
  background: no-repeat url("../images/icons/leaf.svg");
}

.advantages-item:nth-child(4)::before{
  background: no-repeat url("../images/icons/thermometer.svg");
}


/* News from Blog */
.blog-newsletter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog {
  width: 570px;
  background-color: #FCFCFC;
  background-image: url("../images/blog_background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 32px;
  box-sizing: border-box;
}

.blog-description {
  color: #565C66;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 12px;
}

.blog-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.blog-title-link {
  color: #2D3440;
  text-decoration: none;
}


/* Newsletter */
.newsletter {
  width: 570px;
  background-color: #FCFCFC;
  background-image: url("../images/newsletter_background.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 6px;
  box-sizing: border-box;
}

.newsletter-container {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 26px;
}

.newsletter-description {
  color: #565C66;
  margin-top: 0;
  margin-bottom: 42px;
}


/* Delivery */
.delivery {
  display: flex;
  align-items: center;
  padding: 64px;
  background-color: #FCFCFC;
  background-image: url("../images/delivery_background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
}

.delivery-container {
  width: 371px;
  margin-right: 135px;
}

.delivery-form {
  width: 500px;
  background-color: #FCFCFC;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  padding: 40px;
  box-sizing: border-box;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivary-form-container {
display: grid;
grid-template-columns: 117px 287px;
gap: 16px 20px;
}

.delivery-form-address {
  grid-column: 1 / -1;
}

.delivery-submit {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
}

.delivery-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 24px;
}

.delivery-description {
  color: #565C66;
  margin: 0;
}

.delivery-form-description {
  margin-top: 0;
  margin-bottom: 32px;
  color: #565C66;
}

.delivery-label {
  line-height: 20px;
  font-weight: 700;
}


/* Contacts */
.contacts {
  background-color: #FCFCFC;
  background-image: url("../images/contacts_background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 64px;
}

.contacts-container {
  width: 343px;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.contacts-legends {
  color: #565C66;
  margin-top: 0;
  margin-bottom: 12px;
}

.address-shop {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 24px;
}

.tel-shop {
  color: #2D3440;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}

.working-hours {
  color: #565C66;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 32px;
}


/* Footer */
.page-footer {
  margin: 48px auto 57px;
  width: 1170px;
}

.page-footer-container {
  display: flex;
}

.footer-social {
  margin-right: 299px;
}

.footer-links {
  width: 356px;
  margin-right: 200px;
}

.footer-copyright {
  width: 193px;
}

.social-item {
  width: 24px;
}

.footer-links-list {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-link {
  display: block;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.footer-link-bold {
  position: relative;
  font-weight: 700;
}

.footer-link-bold::before {
  position: absolute;
  bottom: 1px;
  left: -22px;
  width: 16px;
  height: 16px;
  background: no-repeat url('../images/icons/heart.svg');
  content: "";
}

.copyright-description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.htmlacademy-link {
  color: #2D3440;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-logo-link {
  line-height: 0;
  margin-bottom: 14px;
}


/* Catalog */
.breadcrumbs {
  display: flex;
  margin-bottom: 16px;
  margin-top: 32px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
    position: absolute;
    top: 8px;
    right: -18px;
    width: 8px;
    height: 8px;
    background: no-repeat url('../images/icons/union.svg');
    content: "";
  }

.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-link {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.inner-header-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}

.filter {
  margin-bottom: 95px;
}

.filter-form {
  font-size: 14px;
  line-height: 20px;
}

.filter-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filter-group-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-container {
  display: flex;
  padding: 41px 0;
  margin-bottom: 40px;
}

.pagination-button {
  margin-left: 495px;
}

.pagination {
  display: flex;
  width: 168px;
  justify-content: end;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  color: #2D3440;
  padding: 2px 6.5px;
  line-height: 20px;
  text-decoration: none;
}

.pagination-prev {
  background-image: url("../images/icons/union-prev.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.pagination-next {
  background-image: url("../images/icons/union-next.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
}


/* Products */
.products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  border-radius: 8px;
  padding: 133px 40px 24px 40px;
}

.product-card-link {
  color: #2D3440;
  text-decoration: none;
}

.product-card-image {
  position: absolute;
  top: -51px;
  left: 51px;
  display: block;
  border-radius: 50%;
  box-shadow: 0px 4px 12px 0px rgb(45 52 64 / 10%);
}

.product-card-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.product-card-description {
  color: #565C66;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-card-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Buttons */
.button {
  font-family: inherit;
  color: #2D3440;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  border: none;
  padding: 12px 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-second {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button-card {
  position: relative;
  width: 32px;
  height: 32px;
  background: #FF2F64;
  border-radius: 26px;
  color: #FCFCFC;
}

.button-card-icon {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
